* {
    box-sizing: border-box;
  }
  
  html {
    font-family:'Lucida Grande'monospace;
    font-size: 16px;
    background: rgb(38, 70, 83);
  }
  
  body {
    background: rgb(231, 111, 81);
    max-width: 960px;
    color: rgb(42, 157, 143);
    margin: 0 auto;
  }
  
  header {
    font-size: 2rem;
    position: fixed;
    left: 0;
    right: 0;
    padding: .5em 1em;
    box-shadow: 0 2px 4px -2px black;
  }
  
  main {
    min-height: 100vh;
    padding: 64px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    color: #eee;
    font-family: 'Lucida Grande',monospace ;
  }
  
  header::after {
    display: block;
    clear: both;
    content: '';
  }
  
  .name {
    float: left;
  }
  
.flex-container{
  display: flex;
  background-color:rgb(244, 162, 97) 244, 162, 97;
}
 

  
  footer {
    box-sizing: border-box;
    position: fixed;
    height: 64px;
    padding: 16px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    box-shadow: 0 -2px 4px -2px black;
  }
  

  header, footer {
    background: rgb(231, 111, 81);
  }