{
    background-color: rgb(38,70,83);
  }
  
  h1 {
    color: 233,196,106;
    text-align: center;
  }
  
  p {
    font-family:monospace;
    font-color; rbg,231,111,81;
    font-size: 20px;
  }
  