main > h1 {
    font-family: monospace;
    font-weight: 100;
    font-size: 2rem;
    border-bottom: 1px solid rgb(42,157,143);
  }
  
  .project {
    font-family: monospace;
    font-size: 1em;
    width: calc(100% - 6em);
    background: rgb(38, 70, 83);
    background: rgb(231,111,81);
    color: #222;
    box-shadow: 0 3px 6px -2px rgb(42,157,143);
    margin: 2em auto;
    padding: 1em;
  }
  
  .project-name {
    font-weight: 900;
    font-size: 2em;
    margin: 0 0 1em;
    border-bottom: 1px solid rgb(244, 162,97);
  }
  

  section: {
    width: 240px;
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
  }
  
